.head {
    background-color: black;
    color: white;
    box-shadow: 0px 38px 30px 15px rgba(0,0,0,0.2);
}
.Titel {
    font-size: 50px;
    margin-top: 1px;
}
.logo {
    width:  400px;
}
.navigation{
    margin-left: -95%;
}