.nav {
    background-color: rgb(0, 0, 0);
    color:white;
    text-decoration: none;
    font-size: 25px;
    margin-left: 70%;
    margin-top: -4%;
}

.dropbutton{
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 16px;
    font-size: 25px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.list {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 20px 30px rgba(0,0,0,0.2);
    z-index: 1;
}

.list a {
    color: rgb(255, 255, 255);
    padding: 18px 15px;
    text-decoration: none;
    display: block;
    margin-left: -20%;
    margin-right: 14.5%;
}

.list a:hover {background-color: #53acc2;}

.dropdown:hover .list {display: block;}